*{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
#logobranch{
    position: absolute;
    width: 15vw;
    top: 27vh;
    left: 10.5vw;
}

#wrapper{
    background-image: url("./asset/background.gif");
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}
.title {
    position: absolute;
    width: 100vw;
    height: 50vh;
    text-align: left;
    margin-top: 17vh;
    margin-left: 7vw;
}
.title h1 {
    display: inline-block;
    color: #000000;
    font-size: 5.5vh;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "fontmenu", sans-serif;
}


.btn{
    margin: 3vh 0;
    position: relative;
    width: 20vw;
    height: 8vh;
    left: 50vw;
    transform: translateX(-50%);
    z-index: 10;
    top: 30vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    line-height: 8vh;
    font-size: 5vh;
    color: rgb(219, 24, 83);
    cursor: pointer;
}
.btn:hover{
    color: rgb(83, 21, 255);
    font-size: 4vh;
    text-shadow: 2px 2px 4px #cb20ff;
}
@font-face {
    font-family: "fontmenu";
    src: url("./asset/fontmenu.ttf") format("truetype");
}

#mario{
    display: none;
}
#bubble{
    display: none;
}
#game3{
    display: none;
}
#back{
    display: none;
}

#contactwaifu{
    position: absolute;
    background-image: url("./asset/contactus.png");
    background-repeat: no-repeat;
    background-size: cover;
    top: 47.5vh;
    left: 65vw;
    width: 30vw;
    height: 55vh;
    display: none;
    animation:  contactuswaifu 0.5s linear;
}
#contactwaifu_facebook{
    position: inherit;
    top: 25.5vh;
    left: 7vw;
}
#contactwaifu_gmail{
    position: inherit;
    top: 32vh;
    left: 6.75vw;
}#linkfb{
    position: inherit;
    top: 25vh;
    left: 9.5vw;
    font-size: 1.5vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#linkgml{
    position: inherit;
    top: 31.5vh;
    left: 9.5vw;
    font-size: 1.5vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@keyframes contactuswaifu {
    0%{
        top: 97.5vh;
    }
    100%{
        top: 47.5vh;
    }
}